<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>shopplan_test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>UserFrontController</servlet-name>
  	<servlet-class>com.shopplan.app.user.UserFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserFrontController</servlet-name>
  	<url-pattern>*.us</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GalleryFrontController</servlet-name>
  	<servlet-class>com.shopplan.app.gallery.GalleryFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GalleryFrontController</servlet-name>
  	<url-pattern>*.ga</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>CommunityFrontController</servlet-name>
  	<servlet-class>com.shopplan.app.community.CommunityFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CommunityFrontController</servlet-name>
  	<url-pattern>*.ct</url-pattern>
  </servlet-mapping>
     <servlet>
    <servlet-name>AskBoardFrontController</servlet-name>
    <servlet-class>com.shopplan.app.askboard.AskBoardFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AskBoardFrontController</servlet-name>
    <url-pattern>*.as</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AskhelpFrontController</servlet-name>
  	<servlet-class>com.shopplan.app.askhelp.AskhelpFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AskhelpFrontController</servlet-name>
  	<url-pattern>*.he</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExpertFrontController</servlet-name>
    <servlet-class>com.shopplan.app.expert.ExpertFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpertFrontController</servlet-name>
    <url-pattern>*.ex</url-pattern>
  </servlet-mapping>
</web-app>